{% extends "blog/base.html" %}
{% load static %}

{% block title %}Post Detail{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.excerpt }}</p>

<p>
    <small>
        {{ post.date|date:"d M Y" }} -
        <a href="{% url 'author-detail' post.author.id %}">
            {{ post.author.first_name }} {{ post.author.last_name }}
        </a>
    </small>
</p>

<img src="{% static 'blog/imgs/' %}{{ post.image_name }}" 
     alt="{{ post.title }}" 
     width="600">

<p>{{ post.content }}</p>

<h3>Etiquetes</h3>

{% for tag in post.tags.all %}
    <a href="{% url 'tag-detail' tag.id %}">
        <span class="card">
            {{ tag.tag }}
        </span>
    </a>
{% endfor %}

{% endblock %}